<a href="https://colab.research.google.com/github/RuthMaya/Evaluaci-n/blob/main/A01707467_ACTIVIDAD_5_(Evaluaci%C3%B3n)_PARTE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ACTIVIDAD 5 (Evaluación) PARTE 1**
## **Ruth Maya López**
## **A01707467**

In [ ]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **EUA**

In [ ]:
eua = pd.read_csv("California_EUA.csv", encoding= 'unicode_escape')

In [ ]:
#Dividir en dos dataframes las columnas numericas y no numericas
datanum = eua.select_dtypes(include = ["number"])
dataobj = eua.select_dtypes(include = ["object"])

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url                  0
last_scraped                 0
source                       0
name                         0
description                 47
neighborhood_overview     2086
picture_url                  0
host_url                     0
host_name                    0
host_since                   0
host_location             1221
host_about                2252
host_response_time        1019
host_response_rate        1019
host_acceptance_rate       801
host_is_superhost            9
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood         301
host_verifications           0
host_has_profile_pic         0
host_identity_verified       0
neighbourhood             2086
neighbourhood_cleansed       0
property_type                0
room_type                    0
bathrooms_text              14
amenities                    0
price                        0
has_availability             0
calendar_last_scraped        0
first_review              1325
last_review               1325
license                   2758
instant_bookable             0
dtype: int64

In [ ]:
#Reemplazamos valores nulos del dataframe con "ffill"
#Se utilizo ffill debido a que este valor permite sustituir las variables con valores nulos por los registros de los datos
#que se encuentran adelante. Esto ayudará a que se conserve la secuencia de los datos y que con la ayuda de valores ya existentes
#en el DF se complementen los registros.
dataobj =dataobj.fillna(method="ffill")

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

ï»¿id                                              0
scrape_id                                          0
host_id                                            0
host_listings_count                                0
host_total_listings_count                          0
neighbourhood_group_cleansed                    6936
latitude                                           0
longitude                                          0
accommodates                                       0
bathrooms                                       6936
bedrooms                                         945
beds                                             120
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_minimum_nights                             2
minimum_maximum_nights                             2
maximum_maximum_nights                             2
minimum_nights_avg_ntm                             2
maximum_nights_avg_ntm                             2
calendar_updated                                6936
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                            1325
review_scores_accuracy                          1346
review_scores_cleanliness                       1346
review_scores_checkin                           1347
review_scores_communication                     1346
review_scores_location                          1347
review_scores_value                             1347
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1325
dtype: int64

In [ ]:
#APLICAR PROMEDIO A LAS COLUMNAS CON VALORES NULOS
#Se aplico esta forma ya que esta medida de tendencia central nos permite rellenar los valores con una medida que considera una
#proporción de los datos de la columna, por lo tanto el resto de los valores no se verá afectado.
datanum=datanum.fillna(round(datanum.mean(),1))

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

ï»¿id                                              0
scrape_id                                          0
host_id                                            0
host_listings_count                                0
host_total_listings_count                          0
neighbourhood_group_cleansed                    6936
latitude                                           0
longitude                                          0
accommodates                                       0
bathrooms                                       6936
bedrooms                                           0
beds                                               0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             0
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
calendar_updated                                6936
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
review_scores_rating                               0
review_scores_accuracy                             0
review_scores_cleanliness                          0
review_scores_checkin                              0
review_scores_communication                        0
review_scores_location                             0
review_scores_value                                0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
dtype: int64

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
#Se borraron las columnas de los datos que contienen 0's y por lo tanto no son importantes
datanum = datanum.dropna(axis = 1, how='all')

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

ï»¿id                                           0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

### **Eliminar outliers**

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
#Se aplicó este método debido a que acorta mas los limites entre los datos y nos ayuda para encontrar más outliers.
y=datanum

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido ï»¿id                                           1.067459e+08
scrape_id                                       2.020000e+13
host_id                                         4.243084e+08
host_listings_count                             3.850000e+01
host_total_listings_count                       5.700000e+01
latitude                                        3.783859e+01
longitude                                      -1.223622e+02
accommodates                                    7.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  7.200000e+01
maximum_nights                                  2.769000e+03
minimum_minimum_nights                          7.200000e+01
maximum_minimum_nights                          7.200000e+01
minimum_maximum_nights                          2.677500e+03
maximum_maximum_nights                          2.677500e+03
minimum_nights_avg_ntm                          7.200000e+01
maximum_nights_avg_ntm                          2.677500e+03
availability_30                                 5.750000e+01
availability_60                                 1.235000e+02
availability_90                                 1.860000e+02
availability_365                                6.593750e+02
number_of_reviews                               1.185000e+02
number_of_reviews_ltm                           2.500000e+01
number_of_reviews_l30d                          2.500000e+00
review_scores_rating                            5.345000e+00
review_scores_accuracy                          5.300000e+00
review_scores_cleanliness                       5.330000e+00
review_scores_checkin                           5.150000e+00
review_scores_communication                     5.150000e+00
review_scores_location                          5.300000e+00
review_scores_value                             5.175000e+00
calculated_host_listings_count                  2.100000e+01
calculated_host_listings_count_entire_homes     5.000000e+00
calculated_host_listings_count_private_rooms    5.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               2.950000e+00
dtype: float64
Limite inferior permitido ï»¿id                                          -3.562532e+07
scrape_id                                       2.020000e+13
host_id                                        -2.452959e+08
host_listings_count                            -2.150000e+01
host_total_listings_count                      -3.100000e+01
latitude                                        3.770181e+01
longitude                                      -1.224912e+02
accommodates                                   -1.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -4.000000e+01
maximum_nights                                 -1.615000e+03
minimum_minimum_nights                         -4.000000e+01
maximum_minimum_nights                         -4.000000e+01
minimum_maximum_nights                         -1.462500e+03
maximum_maximum_nights                         -1.462500e+03
minimum_nights_avg_ntm                         -4.000000e+01
maximum_nights_avg_ntm                         -1.462500e+03
availability_30                                -3.450000e+01
availability_60                                -7.250000e+01
availability_90                                -1.020000e+02
availability_365                               -3.176250e+02
number_of_reviews                              -6.950000e+01
number_of_reviews_ltm                          -1.500000e+01
number_of_reviews_l30d                         -1.500000e+00
review_scores_rating                            4.425000e+00
review_scores_accuracy                          4.500000e+00
review_scores_cleanliness                       4.450000e+00
review_scores_checkin                           4.750000e+00
review_scores_communication                     4.750000e+00
review_scores_location                          4.500000e+00
review_scores_value                             4.335000e+00
calculated_host_listings_count                 -1.100000e+01
calculated_host_listings_count_entire_homes    -3.000000e+00
calculated_host_listings_count_private_rooms   -3.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -1.370000e+00
dtype: float64

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= datanum[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.44,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,8.180000e+17,NaN,495900269.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6932,8.180000e+17,NaN,499392537.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6933,8.180000e+17,NaN,499294716.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6934,8.180000e+17,NaN,485596413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6935,8.190000e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Obtenemos datos limpios del Dataframe
data3_iqr= datanum[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958.0,2.020000e+13,1169.0,1.0,1.0,37.770280,-122.433170,3.0,1.0,2.0,...,4.92,4.95,4.88,4.98,4.76,1.0,1.0,0.0,0.0,2.31
1,5858.0,2.020000e+13,8904.0,2.0,2.0,37.744740,-122.420890,4.0,2.0,2.0,...,4.87,4.89,4.85,4.77,4.68,1.0,1.0,0.0,0.0,0.66
2,8142.0,2.020000e+13,21994.0,13.0,14.0,37.765550,-122.452130,1.0,1.0,1.0,...,NaN,4.78,4.78,4.67,4.67,13.0,0.0,NaN,0.0,0.09
3,8339.0,2.020000e+13,24215.0,2.0,6.0,37.775640,-122.436420,4.0,2.0,2.0,...,5.00,4.94,5.00,4.94,4.75,2.0,2.0,0.0,0.0,0.17
4,8739.0,2.020000e+13,7149.0,2.0,2.0,37.760300,-122.421970,3.0,1.0,1.0,...,4.94,4.95,4.96,4.93,4.74,2.0,0.0,2.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,NaN,2.020000e+13,NaN,9.0,9.0,37.791994,-122.410000,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,5.0,5.0,0.0,0.0,1.30
6932,NaN,2.020000e+13,NaN,1.0,1.0,37.763060,-122.432023,2.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,1.0,1.0,0.0,0.0,1.00
6933,NaN,2.020000e+13,NaN,1.0,1.0,37.777633,-122.416478,1.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,1.0,0.0,1.0,0.0,1.30
6934,NaN,2.020000e+13,NaN,3.0,4.0,37.738325,-122.396603,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,3.0,0.0,3.0,0.0,1.30
6935,NaN,2.020000e+13,4836128.0,2.0,4.0,37.786442,-122.457006,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,2.0,1.0,1.0,0.0,1.30

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

ï»¿id                                           1573
scrape_id                                          0
host_id                                          413
host_listings_count                             1128
host_total_listings_count                       1196
latitude                                           0
longitude                                        327
accommodates                                     279
bedrooms                                         228
beds                                             558
minimum_nights                                   200
maximum_nights                                     4
minimum_minimum_nights                           231
maximum_minimum_nights                           346
minimum_maximum_nights                            21
maximum_maximum_nights                            36
minimum_nights_avg_ntm                           341
maximum_nights_avg_ntm                            36
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                867
number_of_reviews_ltm                            963
number_of_reviews_l30d                           575
review_scores_rating                             615
review_scores_accuracy                           444
review_scores_cleanliness                        613
review_scores_checkin                            720
review_scores_communication                      895
review_scores_location                           545
review_scores_value                              661
calculated_host_listings_count                  1140
calculated_host_listings_count_entire_homes     1078
calculated_host_listings_count_private_rooms    1040
calculated_host_listings_count_shared_rooms      114
reviews_per_month                                832
dtype: int64

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=data3_iqr.copy()
data5_iqr=data5_iqr.fillna(round(data3_iqr.mean(),1))
data5_iqr

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958.0,2.020000e+13,1169.0,1.0,1.0,37.770280,-122.433170,3.0,1.0,2.0,...,4.92,4.95,4.88,4.98,4.76,1.0,1.0,0.0,0.0,2.31
1,5858.0,2.020000e+13,8904.0,2.0,2.0,37.744740,-122.420890,4.0,2.0,2.0,...,4.87,4.89,4.85,4.77,4.68,1.0,1.0,0.0,0.0,0.66
2,8142.0,2.020000e+13,21994.0,13.0,14.0,37.765550,-122.452130,1.0,1.0,1.0,...,4.90,4.78,4.78,4.67,4.67,13.0,0.0,0.7,0.0,0.09
3,8339.0,2.020000e+13,24215.0,2.0,6.0,37.775640,-122.436420,4.0,2.0,2.0,...,5.00,4.94,5.00,4.94,4.75,2.0,2.0,0.0,0.0,0.17
4,8739.0,2.020000e+13,7149.0,2.0,2.0,37.760300,-122.421970,3.0,1.0,1.0,...,4.94,4.95,4.96,4.93,4.74,2.0,0.0,2.0,0.0,0.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,27790615.3,2.020000e+13,87507815.4,9.0,9.0,37.791994,-122.410000,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,5.0,5.0,0.0,0.0,1.30
6932,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.763060,-122.432023,2.0,1.0,1.0,...,5.00,5.00,5.00,5.00,5.00,1.0,1.0,0.0,0.0,1.00
6933,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.777633,-122.416478,1.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,1.0,0.0,1.0,0.0,1.30
6934,27790615.3,2.020000e+13,87507815.4,3.0,4.0,37.738325,-122.396603,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,3.0,0.0,3.0,0.0,1.30
6935,27790615.3,2.020000e+13,4836128.0,2.0,4.0,37.786442,-122.457006,2.0,1.0,1.0,...,4.80,4.90,4.90,4.80,4.70,2.0,1.0,1.0,0.0,1.30

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data5_iqr.isnull().sum()
valores_nulos

ï»¿id                                           0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
# Unimos los dataframes
Datos_limpios = pd.concat([data5_iqr, dataobj], axis=1)
Datos_limpios

,ï»¿id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,958.0,2.020000e+13,1169.0,1.0,1.0,37.770280,-122.433170,3.0,1.0,2.0,...,Entire home/apt,1 bath,"[""Oven"", ""Self check-in"", ""Cooking basics"", ""L...",$202.00,t,06/03/2023,23/07/2009,19/02/2023,City Registration Pending,f
1,5858.0,2.020000e+13,8904.0,2.0,2.0,37.744740,-122.420890,4.0,2.0,2.0,...,Entire home/apt,1 bath,"[""Essentials"", ""Carbon monoxide alarm"", ""Hange...",$235.00,t,06/03/2023,03/05/2009,06/08/2017,City Registration Pending,f
2,8142.0,2.020000e+13,21994.0,13.0,14.0,37.765550,-122.452130,1.0,1.0,1.0,...,Private room,4 shared baths,"[""Security cameras on property"", ""Host greets ...",$56.00,t,06/03/2023,08/09/2014,27/10/2022,City Registration Pending,f
3,8339.0,2.020000e+13,24215.0,2.0,6.0,37.775640,-122.436420,4.0,2.0,2.0,...,Entire home/apt,1.5 baths,"[""Oven"", ""Cooking basics"", ""TV"", ""Smoke alarm""...",$575.00,t,06/03/2023,25/09/2009,28/06/2019,STR-0000264,f
4,8739.0,2.020000e+13,7149.0,2.0,2.0,37.760300,-122.421970,3.0,1.0,1.0,...,Private room,1 private bath,"[""Paid parking garage off premises"", ""Luggage ...",$110.00,t,06/03/2023,01/08/2009,25/02/2023,STR-0000028,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6931,27790615.3,2.020000e+13,87507815.4,9.0,9.0,37.791994,-122.410000,2.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Security cameras on property"", ""Self check-i...",$164.00,t,06/03/2023,13/02/2023,13/02/2023,147904,t
6932,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.763060,-122.432023,2.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Cooking basics"", ""Luggage dropoff allowed"", ...",$228.00,t,06/03/2023,03/03/2023,03/03/2023,2023-001477STR,f
6933,27790615.3,2.020000e+13,87507815.4,1.0,1.0,37.777633,-122.416478,1.0,1.0,1.0,...,Private room,1 shared bath,"[""TV"", ""Free dryer – In unit"", ""Mountain view""...",$104.00,t,06/03/2023,03/03/2023,03/03/2023,2023-001477STR,f
6934,27790615.3,2.020000e+13,87507815.4,3.0,4.0,37.738325,-122.396603,2.0,1.0,1.0,...,Private room,1 shared bath,"[""Essentials"", ""Carbon monoxide alarm"", ""Centr...",$65.00,t,06/03/2023,03/03/2023,03/03/2023,2022-012562STR,f
6935,27790615.3,2.020000e+13,4836128.0,2.0,4.0,37.786442,-122.457006,2.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Carbon monoxide alarm"", ""Security cameras on...",$375.00,t,06/03/2023,03/03/2023,03/03/2023,2022-012562STR,t

In [ ]:
Datos_limpios.to_csv("Datos_limpios_EUA.csv")
from google.colab import files 
files.download("Datos_limpios_EUA.csv")

# **ESP**

In [ ]:
esp = pd.read_csv("Girona_España.csv", encoding= 'unicode_escape')

In [ ]:
#Dividir en dos dataframes las columnas numericas y no numericas
datanum = esp.select_dtypes(include = ["number"])
dataobj = esp.select_dtypes(include = ["object"])

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url                   0
last_scraped                  0
source                        0
name                          0
description                  23
neighborhood_overview     11313
picture_url                   0
host_url                      0
host_name                   117
host_since                  117
host_location              5559
host_about                 8424
host_response_time         2088
host_response_rate         2088
host_acceptance_rate       1153
host_is_superhost            15
host_thumbnail_url          117
host_picture_url            117
host_neighbourhood        18386
host_verifications            0
host_has_profile_pic        117
host_identity_verified      117
neighbourhood             11313
neighbourhood_cleansed        0
property_type                 0
room_type                     0
bathrooms_text               16
amenities                     0
price                         0
has_availability              0
calendar_last_scraped         0
first_review               5227
last_review                5227
license                    1135
instant_bookable              0
dtype: int64

In [ ]:
#Reemplazamos valores nulos del dataframe con "ffill"
#Se utilizo ffill debido a que este valor permite sustituir las variables con valores nulos por los registros de los datos
#que se encuentran adelante. Esto ayudará a que se conserve la secuencia de los datos y que con la ayuda de valores ya existentes
#en el DF se complementen los registros.
dataobj =dataobj.fillna(method="ffill")

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        4
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

In [ ]:
#Reemplazamos valores nulos del dataframe con "bfill"
#Se utilizo bfill debido a que este valor permite sustituir las variables con valores nulos por los registros de los datos
#que se encuentran detrás. Esto ayudará a que se conserve la secuencia de los datos y que con la ayuda de valores ya existentes
#en el DF se complementen los registros.
dataobj =dataobj.fillna(method="bfill")

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
license                   0
instant_bookable          0
dtype: int64

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                               117
host_total_listings_count                         117
neighbourhood_group_cleansed                    19655
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       19655
bedrooms                                          503
beds                                               93
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                19655
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                             5227
review_scores_accuracy                           5285
review_scores_cleanliness                        5283
review_scores_checkin                            5284
review_scores_communication                      5285
review_scores_location                           5284
review_scores_value                              5285
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                5227
dtype: int64

In [ ]:
#APLICAR PROMEDIO A LAS COLUMNAS CON VALORES NULOS
#Se aplico esta forma ya que esta medida de tendencia central nos permite rellenar los valores con una medida que considera una
#proporción de los datos de la columna, por lo tanto el resto de los valores no se verá afectado.
datanum=datanum.fillna(round(datanum.mean(),1))

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    19655
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       19655
bedrooms                                            0
beds                                                0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                19655
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                                0
review_scores_accuracy                              0
review_scores_cleanliness                           0
review_scores_checkin                               0
review_scores_communication                         0
review_scores_location                              0
review_scores_value                                 0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                   0
dtype: int64

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
#Se borraron las columnas de los datos que contienen 0's y por lo tanto no son importantes
datanum = datanum.dropna(axis = 1, how='all')

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

### **Eliminar outliers**

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
#Se aplicó este método debido a que acorta mas los limites entre los datos y nos ayuda para encontrar más outliers.
y=datanum

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido id                                              1.430535e+18
scrape_id                                       2.023030e+13
host_id                                         5.298792e+08
host_listings_count                             1.560000e+02
host_total_listings_count                       2.270000e+02
latitude                                        4.288548e+01
longitude                                       3.623007e+00
accommodates                                    9.000000e+00
bedrooms                                        4.500000e+00
beds                                            9.500000e+00
minimum_nights                                  1.100000e+01
maximum_nights                                  2.722500e+03
minimum_minimum_nights                          8.500000e+00
maximum_minimum_nights                          1.300000e+01
minimum_maximum_nights                          2.767500e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          9.500000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.750000e+01
availability_60                                 1.270000e+02
availability_90                                 1.700000e+02
availability_365                                5.805000e+02
number_of_reviews                               3.500000e+01
number_of_reviews_ltm                           1.250000e+01
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            5.365000e+00
review_scores_accuracy                          5.425000e+00
review_scores_cleanliness                       5.475000e+00
review_scores_checkin                           5.450000e+00
review_scores_communication                     5.450000e+00
review_scores_location                          5.375000e+00
review_scores_value                             5.275000e+00
calculated_host_listings_count                  1.285000e+02
calculated_host_listings_count_entire_homes     1.285000e+02
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               1.025000e+00
dtype: float64
Limite inferior permitido id                                             -8.583210e+17
scrape_id                                       2.023030e+13
host_id                                        -2.560745e+08
host_listings_count                            -9.200000e+01
host_total_listings_count                      -1.330000e+02
latitude                                        4.118752e+01
longitude                                       2.429620e+00
accommodates                                    1.000000e+00
bedrooms                                        5.000000e-01
beds                                           -2.500000e+00
minimum_nights                                 -5.000000e+00
maximum_nights                                 -1.537500e+03
minimum_minimum_nights                         -3.500000e+00
maximum_minimum_nights                         -3.000000e+00
minimum_maximum_nights                         -1.612500e+03
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -2.500000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -4.050000e+01
availability_60                                -6.500000e+01
availability_90                                -6.200000e+01
availability_365                               -1.915000e+02
number_of_reviews                              -2.100000e+01
number_of_reviews_ltm                          -7.500000e+00
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            4.045000e+00
review_scores_accuracy                          4.105000e+00
review_scores_cleanliness                       3.915000e+00
review_scores_checkin                           4.250000e+00
review_scores_communication                     4.250000e+00
review_scores_location                          4.295000e+00
review_scores_value                             3.875000e+00
calculated_host_listings_count                 -7.550000e+01
calculated_host_listings_count_entire_homes    -7.550000e+01
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -3.750000e-01
dtype: float64

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= datanum[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Obtenemos datos limpios del Dataframe
data3_iqr= datanum[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,2.023030e+13,57237,1.0,5.0,41.996500,2.836460,2.0,1.0,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,NaN,0.0,0.37
1,1.205757e+06,2.023030e+13,6586355,1.0,1.0,41.793040,2.774120,2.0,1.0,1.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,NaN,0.0,0.51
2,1.212820e+06,2.023030e+13,6620645,2.0,3.0,42.112840,3.166700,4.0,1.0,2.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,7.516380e+05,2.023030e+13,3680160,6.0,6.0,42.369580,2.980300,2.0,1.0,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,NaN,0.0,0.08
4,4.134200e+04,2.023030e+13,180072,2.0,3.0,42.346550,3.204630,4.0,1.0,1.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,2.023030e+13,26281633,34.0,44.0,41.957265,3.201288,8.0,4.0,4.0,...,4.50,4.70,4.70,4.70,4.40,34.0,34.0,0.0,0.0,0.50
19651,8.583960e+17,2.023030e+13,444428600,3.0,3.0,41.699070,2.844080,4.0,1.0,1.0,...,4.50,4.70,4.70,4.70,4.40,1.0,1.0,0.0,0.0,0.50
19652,8.584110e+17,2.023030e+13,491503593,9.0,11.0,41.813720,3.064465,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50
19653,8.584180e+17,2.023030e+13,389605038,111.0,121.0,41.809375,3.053910,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,54.0,54.0,0.0,0.0,0.50
19654,8.584240e+17,2.023030e+13,491503593,9.0,11.0,41.810169,3.066358,5.0,3.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

id                                                 0
scrape_id                                          0
host_id                                            0
host_listings_count                             1682
host_total_listings_count                       2447
latitude                                           0
longitude                                        926
accommodates                                    1616
bedrooms                                        1355
beds                                             565
minimum_nights                                   449
maximum_nights                                     0
minimum_minimum_nights                           434
maximum_minimum_nights                          1009
minimum_maximum_nights                             0
maximum_maximum_nights                             0
minimum_nights_avg_ntm                           607
maximum_nights_avg_ntm                             0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                               2247
number_of_reviews_ltm                           1855
number_of_reviews_l30d                          1575
review_scores_rating                            2229
review_scores_accuracy                          1751
review_scores_cleanliness                       1359
review_scores_checkin                           1627
review_scores_communication                     1590
review_scores_location                          1502
review_scores_value                             1482
calculated_host_listings_count                  1679
calculated_host_listings_count_entire_homes     1549
calculated_host_listings_count_private_rooms    2881
calculated_host_listings_count_shared_rooms      181
reviews_per_month                               1887
dtype: int64

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=data3_iqr.copy()
data5_iqr=data5_iqr.fillna(round(data3_iqr.mean(),1))
data5_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,2.023030e+13,57237,1.0,5.0,41.996500,2.836460,2.0,1.0,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,0.0,0.0,0.37
1,1.205757e+06,2.023030e+13,6586355,1.0,1.0,41.793040,2.774120,2.0,1.0,1.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,0.0,0.0,0.51
2,1.212820e+06,2.023030e+13,6620645,2.0,3.0,42.112840,3.166700,4.0,1.0,2.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,7.516380e+05,2.023030e+13,3680160,6.0,6.0,42.369580,2.980300,2.0,1.0,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,0.0,0.0,0.08
4,4.134200e+04,2.023030e+13,180072,2.0,3.0,42.346550,3.204630,4.0,1.0,1.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,2.023030e+13,26281633,34.0,44.0,41.957265,3.201288,8.0,4.0,4.0,...,4.50,4.70,4.70,4.70,4.40,34.0,34.0,0.0,0.0,0.50
19651,8.583960e+17,2.023030e+13,444428600,3.0,3.0,41.699070,2.844080,4.0,1.0,1.0,...,4.50,4.70,4.70,4.70,4.40,1.0,1.0,0.0,0.0,0.50
19652,8.584110e+17,2.023030e+13,491503593,9.0,11.0,41.813720,3.064465,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50
19653,8.584180e+17,2.023030e+13,389605038,111.0,121.0,41.809375,3.053910,4.0,2.0,3.0,...,4.50,4.70,4.70,4.70,4.40,54.0,54.0,0.0,0.0,0.50
19654,8.584240e+17,2.023030e+13,491503593,9.0,11.0,41.810169,3.066358,5.0,3.0,3.0,...,4.50,4.70,4.70,4.70,4.40,9.0,9.0,0.0,0.0,0.50

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data5_iqr.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
# Unimos los dataframes
Datos_limpios = pd.concat([data5_iqr, dataobj], axis=1)
Datos_limpios

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,1.455100e+04,2.023030e+13,57237,1.0,5.0,41.996500,2.836460,2.0,1.0,1.0,...,Private room,1 private bath,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",$42.00,t,31/03/2023,08/10/2010,27/02/2023,HUTG-049542,f
1,1.205757e+06,2.023030e+13,6586355,1.0,1.0,41.793040,2.774120,2.0,1.0,1.0,...,Private room,1.5 shared baths,"[""Free parking on premises"", ""Refrigerator"", ""...",$47.00,t,31/03/2023,01/08/2013,26/06/2022,HUTG-049542,f
2,1.212820e+06,2.023030e+13,6620645,2.0,3.0,42.112840,3.166700,4.0,1.0,2.0,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Free parking on premises...",$74.00,t,01/04/2023,10/06/2013,30/12/2022,HUTG-049542,f
3,7.516380e+05,2.023030e+13,3680160,6.0,6.0,42.369580,2.980300,2.0,1.0,2.0,...,Private room,1 private bath,"[""Hair dryer"", ""Luggage dropoff allowed"", ""Fre...",$45.00,t,31/03/2023,23/08/2013,29/08/2022,PG000794,t
4,4.134200e+04,2.023030e+13,180072,2.0,3.0,42.346550,3.204630,4.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Free parking on premises"", ""Refrigerator"", ""...",$120.00,t,01/04/2023,14/07/2013,28/08/2021,HUTG-003688,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,2.023030e+13,26281633,34.0,44.0,41.957265,3.201288,8.0,4.0,4.0,...,Entire home/apt,5 baths,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",$209.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-001292,t
19651,8.583960e+17,2.023030e+13,444428600,3.0,3.0,41.699070,2.844080,4.0,1.0,1.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Pets allowed"", ""Washer""]",$52.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG019727,t
19652,8.584110e+17,2.023030e+13,491503593,9.0,11.0,41.813720,3.064465,4.0,2.0,3.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Free street parking"", ""Washer"", ""...",$66.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-057830,f
19653,8.584180e+17,2.023030e+13,389605038,111.0,121.0,41.809375,3.053910,4.0,2.0,3.0,...,Entire home/apt,1 bath,"[""Refrigerator"", ""Microwave"", ""Elevator"", ""Pet...",$108.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-065236,t
19654,8.584240e+17,2.023030e+13,491503593,9.0,11.0,41.810169,3.066358,5.0,3.0,3.0,...,Entire home/apt,1 bath,"[""Kitchen"", ""Washer"", ""Clothing storage"", ""Dis...",$73.00,t,01/04/2023,23/03/2023,26/03/2023,HUTG-051787,f

In [ ]:
Datos_limpios.to_csv("Datos_limpios_ESP.csv")
from google.colab import files 
files.download("Datos_limpios_ESP.csv")

# **MEX**

In [ ]:
mex = pd.read_csv("DF_Mexico.csv")

In [ ]:
#Dividir en dos dataframes las columnas numericas y no numericas
datanum = mex.select_dtypes(include = ["number"])
dataobj = mex.select_dtypes(include = ["object"])

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url                   0
last_scraped                  0
source                        0
name                          1
description                 928
neighborhood_overview      9079
picture_url                   0
host_url                      0
host_name                     0
host_since                    0
host_location              5172
host_about                10664
host_response_time         3091
host_response_rate         3091
host_acceptance_rate       2043
host_is_superhost             5
host_thumbnail_url            0
host_picture_url              0
host_neighbourhood        12401
host_verifications            0
host_has_profile_pic          0
host_identity_verified        0
neighbourhood              9079
neighbourhood_cleansed        0
property_type                 0
room_type                     0
bathrooms_text               30
amenities                     0
price                         0
has_availability              0
calendar_last_scraped         0
first_review               3596
last_review                3596
instant_bookable              0
dtype: int64

In [ ]:
#Reemplazamos valores nulos del dataframe con "ffill"
#Se utilizo ffill debido a que este valor permite sustituir las variables con valores nulos por los registros de los datos
#que se encuentran adelante. Esto ayudará a que se conserve la secuencia de los datos y que con la ayuda de valores ya existentes
#en el DF se complementen los registros.
dataobj =dataobj.fillna(method="ffill")

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     1
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                2
host_response_time        0
host_response_rate        0
host_acceptance_rate      2
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             1
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
instant_bookable          0
dtype: int64

In [ ]:
#Reemplazamos valores nulos del dataframe con "bfill"
#Se utilizo bfill debido a que este valor permite sustituir las variables con valores nulos por los registros de los datos
#que se encuentran detrás. Esto ayudará a que se conserve la secuencia de los datos y que con la ayuda de valores ya existentes
#en el DF se complementen los registros.
dataobj =dataobj.fillna(method="bfill")

In [ ]:
#VALORES NULOS DE LAS COLUMNAS CATEGORICAS
valores_nulos = dataobj.isnull().sum()
valores_nulos

listing_url               0
last_scraped              0
source                    0
name                      0
description               0
neighborhood_overview     0
picture_url               0
host_url                  0
host_name                 0
host_since                0
host_location             0
host_about                0
host_response_time        0
host_response_rate        0
host_acceptance_rate      0
host_is_superhost         0
host_thumbnail_url        0
host_picture_url          0
host_neighbourhood        0
host_verifications        0
host_has_profile_pic      0
host_identity_verified    0
neighbourhood             0
neighbourhood_cleansed    0
property_type             0
room_type                 0
bathrooms_text            0
amenities                 0
price                     0
has_availability          0
calendar_last_scraped     0
first_review              0
last_review               0
instant_bookable          0
dtype: int64

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    24224
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       24224
bedrooms                                          555
beds                                              271
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              1
maximum_minimum_nights                              1
minimum_maximum_nights                              1
maximum_maximum_nights                              1
minimum_nights_avg_ntm                              1
maximum_nights_avg_ntm                              1
calendar_updated                                24224
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                             3596
review_scores_accuracy                           3652
review_scores_cleanliness                        3651
review_scores_checkin                            3652
review_scores_communication                      3652
review_scores_location                           3653
review_scores_value                              3653
license                                         24224
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                3596
dtype: int64

In [ ]:
#APLICAR PROMEDIO A LAS COLUMNAS CON VALORES NULOS
#Se aplico esta forma ya que esta medida de tendencia central nos permite rellenar los valores con una medida que considera una
#proporción de los datos de la columna, por lo tanto el resto de los valores no se verá afectado.
datanum=datanum.fillna(round(datanum.mean(),1))

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
host_id                                             0
host_listings_count                                 0
host_total_listings_count                           0
neighbourhood_group_cleansed                    24224
latitude                                            0
longitude                                           0
accommodates                                        0
bathrooms                                       24224
bedrooms                                            0
beds                                                0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                24224
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                                0
review_scores_accuracy                              0
review_scores_cleanliness                           0
review_scores_checkin                               0
review_scores_communication                         0
review_scores_location                              0
review_scores_value                                 0
license                                         24224
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                   0
dtype: int64

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
#Se borraron las columnas de los datos que contienen 0's y por lo tanto no son importantes
datanum = datanum.dropna(axis = 1, how='all')

In [ ]:
#VALORES NULOS DE LAS COLUMNAS NUMERICAS
valores_nulos = datanum.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

### **Eliminar outliers**

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
#Se aplicó este método debido a que acorta mas los limites entre los datos y nos ayuda para encontrar más outliers.
y=datanum

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido id                                              1.690170e+18
scrape_id                                       2.023033e+13
host_id                                         6.839189e+08
host_listings_count                             2.850000e+01
host_total_listings_count                       3.200000e+01
latitude                                        1.949915e+01
longitude                                      -9.911735e+01
accommodates                                    7.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  3.500000e+00
maximum_nights                                  2.542500e+03
minimum_minimum_nights                          3.500000e+00
maximum_minimum_nights                          6.000000e+00
minimum_maximum_nights                          2.265000e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          5.750000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.300000e+01
availability_60                                 1.095000e+02
availability_90                                 1.500000e+02
availability_365                                6.740000e+02
number_of_reviews                               1.045000e+02
number_of_reviews_ltm                           4.750000e+01
number_of_reviews_l30d                          5.000000e+00
review_scores_rating                            5.325000e+00
review_scores_accuracy                          5.265000e+00
review_scores_cleanliness                       5.350000e+00
review_scores_checkin                           5.300000e+00
review_scores_communication                     5.300000e+00
review_scores_location                          5.300000e+00
review_scores_value                             5.265000e+00
calculated_host_listings_count                  2.350000e+01
calculated_host_listings_count_entire_homes     1.500000e+01
calculated_host_listings_count_private_rooms    5.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               4.481250e+00
dtype: float64
Limite inferior permitido id                                             -1.014102e+18
scrape_id                                       2.023033e+13
host_id                                        -3.333808e+08
host_listings_count                            -1.550000e+01
host_total_listings_count                      -1.600000e+01
latitude                                        1.931817e+01
longitude                                      -9.921716e+01
accommodates                                   -1.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -5.000000e-01
maximum_nights                                 -1.237500e+03
minimum_minimum_nights                         -5.000000e-01
maximum_minimum_nights                         -2.000000e+00
minimum_maximum_nights                         -7.750000e+02
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -1.850000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -3.300000e+01
availability_60                                -3.050000e+01
availability_90                                -1.800000e+01
availability_365                               -1.740000e+02
number_of_reviews                              -5.950000e+01
number_of_reviews_ltm                          -2.850000e+01
number_of_reviews_l30d                         -3.000000e+00
review_scores_rating                            4.325000e+00
review_scores_accuracy                          4.505000e+00
review_scores_cleanliness                       4.310000e+00
review_scores_checkin                           4.500000e+00
review_scores_communication                     4.500000e+00
review_scores_location                          4.500000e+00
review_scores_value                             4.345000e+00
calculated_host_listings_count                 -1.250000e+01
calculated_host_listings_count_entire_homes    -9.000000e+00
calculated_host_listings_count_private_rooms   -3.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -1.808750e+00
dtype: float64

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= datanum[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,-99.27178,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,5.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Obtenemos datos limpios del Dataframe
data3_iqr= datanum[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,20230329041210,153786,1.0,1.0,19.382830,NaN,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,NaN,NaN,NaN,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,853923589855678923,20230329041210,488030249,3.0,4.0,19.396663,-99.148145,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70
24220,853966732274073000,20230329041210,506816029,1.0,1.0,19.392023,-99.118722,7.0,2.0,3.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
24221,854225071295768399,20230329041210,154670560,1.0,6.0,19.371088,-99.190186,2.0,2.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,0.0,1.0,0.0,1.70
24222,854247693069190865,20230329041210,7799414,13.0,13.0,19.403792,-99.164978,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,13.0,13.0,0.0,0.0,1.70
24223,854260329845513725,20230329041210,506864314,2.0,2.0,19.426283,-99.175603,6.0,3.0,3.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data3_iqr.isnull().sum()
valores_nulos

id                                                 0
scrape_id                                          0
host_id                                            0
host_listings_count                             3324
host_total_listings_count                       3453
latitude                                        1490
longitude                                       2594
accommodates                                    1090
bedrooms                                         640
beds                                            2347
minimum_nights                                  3195
maximum_nights                                     1
minimum_minimum_nights                          3082
maximum_minimum_nights                          1895
minimum_maximum_nights                             5
maximum_maximum_nights                             6
minimum_nights_avg_ntm                          1929
maximum_nights_avg_ntm                             6
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                               2308
number_of_reviews_ltm                           1519
number_of_reviews_l30d                           784
review_scores_rating                            1588
review_scores_accuracy                          2150
review_scores_cleanliness                       1510
review_scores_checkin                           1226
review_scores_communication                     1498
review_scores_location                          1209
review_scores_value                             1859
calculated_host_listings_count                  3224
calculated_host_listings_count_entire_homes     3444
calculated_host_listings_count_private_rooms    3076
calculated_host_listings_count_shared_rooms      576
reviews_per_month                               1373
dtype: int64

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=data3_iqr.copy()
data5_iqr=data5_iqr.fillna(round(data3_iqr.mean(),1))
data5_iqr

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,20230329041210,153786,1.0,1.0,19.382830,-99.200000,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,2.9,1.4,1.6,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,853923589855678923,20230329041210,488030249,3.0,4.0,19.396663,-99.148145,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70
24220,853966732274073000,20230329041210,506816029,1.0,1.0,19.392023,-99.118722,7.0,2.0,3.0,...,4.70,4.80,4.80,4.80,4.70,1.0,1.0,0.0,0.0,1.70
24221,854225071295768399,20230329041210,154670560,1.0,6.0,19.371088,-99.190186,2.0,2.0,1.0,...,4.70,4.80,4.80,4.80,4.70,1.0,0.0,1.0,0.0,1.70
24222,854247693069190865,20230329041210,7799414,13.0,13.0,19.403792,-99.164978,2.0,1.0,1.0,...,4.70,4.80,4.80,4.80,4.70,13.0,13.0,0.0,0.0,1.70
24223,854260329845513725,20230329041210,506864314,2.0,2.0,19.426283,-99.175603,6.0,3.0,3.0,...,4.70,4.80,4.80,4.80,4.70,2.0,2.0,0.0,0.0,1.70

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data5_iqr.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
host_id                                         0
host_listings_count                             0
host_total_listings_count                       0
latitude                                        0
longitude                                       0
accommodates                                    0
bedrooms                                        0
beds                                            0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [ ]:
# Unimos los dataframes
Datos_limpios = pd.concat([data5_iqr, dataobj], axis=1)
Datos_limpios

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,property_type,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
0,2056638,20230329041210,10531228,3.0,7.0,19.353530,-99.162990,3.0,1.0,1.0,...,Entire loft,Entire home/apt,1.5 baths,"[""Wifi"", ""Hangers"", ""Fire extinguisher"", ""Sham...","$1,434.00",t,2023-03-30,2014-01-03,2018-06-24,f
1,2072354,20230329041210,16840050,3.0,3.0,19.353580,-99.169480,2.0,1.0,1.0,...,Entire guest suite,Entire home/apt,1 bath,"[""Free street parking"", ""Cleaning products"", ""...",$830.00,t,2023-03-30,2014-01-01,2022-11-04,f
2,696037,20230329041210,3531879,4.0,4.0,19.441800,-99.184020,6.0,3.0,3.0,...,Entire rental unit,Entire home/apt,2 baths,"[""Wifi \u2013 38 Mbps"", ""Central air condition...","$1,469.00",t,2023-03-29,2012-10-31,2022-12-21,f
3,35797,20230329041210,153786,1.0,1.0,19.382830,-99.200000,2.0,1.0,1.0,...,Entire villa,Entire home/apt,1 bath,"[""Wifi"", ""Washer"", ""BBQ grill"", ""Indoor firepl...","$3,658.00",t,2023-03-29,2012-10-31,2022-12-21,f
4,44616,20230329041210,196253,16.0,16.0,19.411620,-99.177940,2.9,1.4,1.6,...,Entire home,Entire home/apt,5.5 baths,"[""Free street parking"", ""Security cameras on p...","$18,000.00",t,2023-03-30,2011-11-09,2023-03-26,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24219,853923589855678923,20230329041210,488030249,3.0,4.0,19.396663,-99.148145,2.0,1.0,1.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Smoke alarm"", ""Wifi"", ""Iron"", ""Washer"", ""Sel...",$760.00,t,2023-03-30,2023-03-29,2023-03-29,f
24220,853966732274073000,20230329041210,506816029,1.0,1.0,19.392023,-99.118722,7.0,2.0,3.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Lake access"", ""Ski-in/Ski-out"", ""Wifi"", ""Out...","$1,520.00",t,2023-03-29,2023-03-29,2023-03-29,t
24221,854225071295768399,20230329041210,154670560,1.0,6.0,19.371088,-99.190186,2.0,2.0,1.0,...,Private room in home,Private room,2.5 shared baths,"[""Luggage dropoff allowed"", ""Shared patio or b...",$533.00,t,2023-03-29,2023-03-29,2023-03-29,f
24222,854247693069190865,20230329041210,7799414,13.0,13.0,19.403792,-99.164978,2.0,1.0,1.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Smoke alarm"", ""Free street parking"", ""Condit...","$1,200.00",t,2023-03-30,2023-03-29,2023-03-29,t
24223,854260329845513725,20230329041210,506864314,2.0,2.0,19.426283,-99.175603,6.0,3.0,3.0,...,Entire rental unit,Entire home/apt,1 bath,"[""Long term stays allowed"", ""Cleaning products...","$1,720.00",t,2023-03-30,2023-03-29,2023-03-29,t

In [ ]:
Datos_limpios.to_csv("Datos_limpios_MEX.csv")
from google.colab import files 
files.download("Datos_limpios_MEX.csv")